a div h5 {
    color:  #1486c7;
}

.jumbotron {
    margin-bottom: 5ch;
}

#special_offers_title {
    font-weight: bolder;
    text-decoration: underline;
    font-size: 2em;
    color: #1486c7;
    margin-bottom: 2ch;
}

#special_offers_div {
    margin-bottom: 4ch;
}